/* Barra de navegación */
/*Estilos tema oscuro*/
.NavBar.oscuro {
  background-color: #172d43; /* Fondo oscuro */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Estilos para el tema claro */
.NavBar.claro {
  background-color: salmon; /* Fondo claro */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Contenedor de botones */
.Botones {
  display: flex;
  gap: 1.5rem;
}

/* Estilo de los links */
.Botones a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover de los links */
.Botones a:hover {
  background-color: #f39c12;
  color: #141414;
  font-weight: 600;
}
/* Estilo del botón de hamburguesa */
.Hamburguesa {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .NavBar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

 
  .Hamburguesa {
    display: block;
  }

  .Botones {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    text-align: center;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }
  .Botones.Mostrar {
    display: flex;
    max-height: 500px; /* Ajustá según el tamaño del contenido */
  }
}
